html,
body {
  height: 100%;
}

.form-signin {
  max-width: 500px;
  padding: 1rem;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="text"]{
    margin-bottom: 5px;
}
.form-signin input[type="email"] {
  margin-bottom: 5px;
}

.form-signin input[type="password"] {
  margin-bottom: 5px;
}

.form-signin input[type="date"]{
  margin-bottom: 15px;
}

.form-signin input[id="postalCode"]{
  margin-bottom: 20px;
}

.form-signin select[name="gender"]{
  height:58px;
}

.form-signin select[name="propertyType"]{
  height:58px;
}

.form-signin select[name="propertyStat"]{
  height:58px;
}

.form-signin select[name="employeeType"]{
  height:58px;
}

.custom-form{
  margin-right: -8px;
}