<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <form method="POST">
            <div class="loginform">
                <h1 class="title">LOGIN<h1>
                        <input type="text" class="login" placeholder="username" name="username" id="username" value="{{username}}" required>
                <br>
                <input type="password" class ="login" placeholder="password" name="psw" required>
                <br>
                <button class="signin" type="submit">SIGN IN</button>
                <br>
                <a href="signup" class="NewUser">New User?</a>
            </div>
        </form>
    </body>
</html>
