<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <form enctype="multipart/form-data" method="POST">
            <div class="loginform">
                <h1 class="title">SIGNUP</h1>
                <input class="login" type="text" name="FirstName" placeholder="First Name" value={{FirstName}}>
                <br>
                <input class="login" type="text" name="LastName" placeholder="Last Name" value={{LastName}}>
                <br>
                <label for="DateOfBirth">Birth Date:</label>
                <input class="login" type="date" name="DateOfBirth" value={{DateOfBirth}}>
                <br>
                <input class="login" type="text" name="Company_ID" placeholder="Company ID" value={{username}}>
                <br>
                <input class="login" type="email" name="email" placeholder="email" value={{email}}>
                <br>
                <input class="login" type="tel" name="phone_num" placeholder="Phone Number" value={{phone_num}}>
                <br>
                <input class="login" type="password" name="password" placeholder="enter password">
                <br>
                <input class="login" type="password" name="password1" placeholder="confirm password">
                <br>
                <br>
                <button class="signup" type="submit">SIGN UP</button>
                <br>
                <a href="login" class="NewUser">Existing user?</a>
            </div>
        </form>
    </body>
</html>
